<% if message.user == current_user %>
  <div class='chatroom-message msg-white'>
   <% if message.user.current_role == "Charity" %>
      <span class='d-flex justify-content-end mr-2'><small><strong><%= message.user.charity.charity_name %> </strong> - <%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small></span>
      <% else %>
      <span class='d-flex justify-content-end mr-2'><small><strong><%= message.user.volunteer.first_name %> </strong> - <%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small></span>
    <% end %>
    <div class="d-flex justify-content-end mr-2 mb-1">
      <p class='other-user-content mb-0'><%= message.content %></p>
    </div>
    </div>
  <% else %>
  <div class='chatroom-message msg-pink'>
    <span class='d-flex justify-content-start ml-2'><small><strong>You</strong> - <%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small></span>
    <div class="d-flex justify-content-start ml-2 mb-1">
      <p class='current-user-content mb-0'><%= message.content %></p>
    </div>
  </div>
<% end %>
