<div class="container booking-index-container">
  <h3 class="carousel-card">Bookings</h3>
  <% if (current_user.volunteer != nil) && (current_user.volunteer.bookings.empty?) %>
    <h5>Oh no, you are not registered to any events at the moment!<i class="far fa-sad-tear icon-pink"></i>

 </h5>
    <a href="/events">Click here</a> <h4> to have a look at more events. </h4>
  <% elsif (current_user.volunteer != nil) %>
    <div class="booking-title">
      <h5>Upcoming</h5>
      </div>
      <div>
        <% if @upcoming_bookings.empty? %>
          <p>You don't have any upcoming bookings.</p>
        <% end %>
      </div>
    <% @upcoming_bookings.each do |booking| %>
      <div class='event-booking-card'>
        <div class="booking-index-date">
          <h6><%= booking.event.date.strftime("%e %b %y") %></h6>
          <h6><i class="fas fa-clock icon-pink"></i>  <%= booking.event.start_time.strftime("%H:%M")%></h6>
        </div>
        <p><i class="fas fa-ribbon icon-pink"></i>  <%= booking.event.charity.charity_name %></p>
        <p><i class="fas fa-thumbtack icon-pink"></i>  <%= booking.event.address %></p>
      </div>
    <% end %>

    <div class="booking-title">
    <h5>Previous</h5>
    </div>
    <% @past_bookings.each do |booking| %>
      <div class='event-booking-card'>
        <div class="booking-index-date previous">
          <h6><%= booking.event.date.strftime("%e %b %y") %></h6>
          <h6><i class="fas fa-clock icon-pink"></i>  <%= booking.event.start_time.strftime("%H:%M")%></h6>
        </div>
        <p><i class="fas fa-ribbon icon-pink"></i>  <%= booking.event.charity.charity_name %></p>
        <p><i class="fas fa-thumbtack icon-pink"></i>  <%= booking.event.address %></p>
      </div>
    <% end %>
  <% end %>
</div>
</div>
