<% img_url = "https://images.unsplash.com/photo-1578357078586-491adf1aa5ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dm9sdW50ZWVyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60" %>
<div class="banner-img">
  <img src=<%= img_url %> alt="holding hands">
</div>


<div class="container new-booking">

  <div class="title-and-back">
    <h3 class="carousel-card">Event Registration</h3>
    <%= link_to event_path(@event) do %>
      <i class="fas fa-arrow-circle-left"></i>
    <% end %>
  </div>

  <div class="event-details">

    <h5><%= @event.charity.charity_name %>
      <%= link_to charity_path(@event.charity) do %>
        <i class="fas fa-info-circle "></i>
      <% end %>
    </h5>
    <p><%= @event.address %></p>

    <div class="event-timings">
      <div class="event-timings-detail">
        <i class="fas fa-calendar-week icon-pink"></i>
        <h4><%= @event.date.strftime("%e %b %y") %></h4>
      </div>
      <div class="event-timings-detail">
        <i class="fas fa-clock icon-pink"></i>
        <h4><%= @event.start_time.strftime("%H:%M") %></h4>
      </div>
      <div class="event-timings-detail">
        <i class="fas fa-hourglass-start icon-pink"></i>
        <h4>
          <% if @event.duration ==1 %>
            <%= "#{@event.duration} hour" %>
          <% else %>
            <%= "#{@event.duration} hours" %>
          <% end %>
        </h4>
      </div>
    </div>

</div>

<div class="booking-form">
  <%= simple_form_for [@event, @booking] do |f| %>
    <div class='booking-form-checkbox'>
      <span class='checkbox-element checkbox-element-box'><%= f.check_box :employer_associated %></span><span class='checkbox-element'> <label for="booking[employer_associated]">Check the box if you are attending this event through your company</label></span>
    </div>

    <%= f.submit 'Confirm booking', class:"button confirm-booking" %>
  <% end %>
</div>
