<div class="app">
  <div class="mapbox-container">
    <div class="map" id="map-size" style="width: 96%; height: 400px; color: white; border: none;"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

  <h3 class="carousel-card">Human Welfare</h3>
  <ul class="hs full no-scrollbar">
    <% @human_welfare_category_events.each do |event| %>
      <li class="item"> <%= render partial: 'card', locals: {event: event} %> </li>
    <% end %>
  </ul>

  <h3 class="carousel-card">Animal Welfare</h3>
  <ul class="hs full no-scrollbar">
    <% @animal_welfare_category_events.each do |event| %>
      <li class="item"> <%= render partial: 'card', locals: {event: event} %> </li>
    <% end %>
  </ul>

  <h3 class="carousel-card">Environment</h3>
  <ul class="hs full no-scrollbar">
    <% @environment_category_events.each do |event| %>
      <li class="item"> <%= render partial: 'card', locals: {event: event} %> </li>
    <% end %>
  </ul>

  <h3 class="carousel-card">Sports</h3>
  <ul class="hs full no-scrollbar">
    <% @sports_category_events.each do |event| %>
      <li class="item"> <%= render partial: 'card', locals: {event: event} %> </li>
    <% end %>
  </ul>

  <h3 class="carousel-card">Charity Shops</h3>
  <ul class="hs full no-scrollbar">
    <% @charity_shops_category_events.each do |event| %>
      <li class="item"> <%= render partial: 'card', locals: {event: event} %> </li>
    <% end %>
  </ul>
</div>
