<% content_for :meta_title, "#{DEFAULT_META["meta_product_name"]} - #{@event.event_name}" %>
<% content_for :meta_description, @event.description %>
<%# content_for :meta_image, cl_image_path(@offer.photo.path) %>




<% img_url = "https://images.unsplash.com/photo-1578357078586-491adf1aa5ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dm9sdW50ZWVyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60" %>


<div class="banner-img">
  <img src=<%= img_url %> alt="holding hands">
</div>

<div class="container">
  <div class="event-details">

    <div class="title-and-back">
      <h3><%= @event.event_name %></h3>
      <%= link_to events_path do %>
        <i class="fas fa-arrow-circle-left icon-pink-clickable"></i>
      <% end %>
    </div>

    <h5><%= @event.charity.charity_name %>
      <%= link_to charity_path(@event.charity) do %>
        <i class="fas fa-info-circle "></i>
      <% end %>
    </h5>
    <p><%= @event.address %></p>

    <div class="event-timings">
      <div class="event-timings-detail">
        <i class="fas fa-calendar-week icon-pink"></i>
        <h4><%= @event.date.strftime("%e %b %y") %></h4>
      </div>
      <div class="event-timings-detail">
        <i class="fas fa-clock icon-pink"></i>
        <h4><%= @event.start_time.strftime("%H:%M") %></h4>
      </div>
      <div class="event-timings-detail">
        <i class="fas fa-hourglass-start icon-pink"></i>
        <h4>
          <% if @event.duration ==1 %>
            <%= "#{@event.duration} hour" %>
          <% else %>
            <%= "#{@event.duration} hours" %>
          <% end %>
        </h4>
      </div>
    </div>
</div>

  <div class="responsibilites" data-controller="show-more">
    <div class="list full-list d-none" data-show-more-target="fulllist">
      <h5>Overview of responsibilites</h5>
      <ul>
        <% responsibilities = @event.description.split(".") %>
        <% responsibilities.each do |responsibility| %>
          <li><%= responsibility %>.</li>
        <% end %>
        <div class="unhide-hide-button">
          <button class="unhide-hide" data-action="click->show-more#hide">show less</button>
        </div>
      </ul>
    </div>

    <div class="list short-list" data-show-more-target="shortlist">
      <h5>Overview of responsibilites</h5>
      <ul>
        <li><%= @event.description[0,150] %>...</li>
        <div class="unhide-hide-button">
          <button class="unhide-hide" data-action="click->show-more#unhide">show more</button>
        </div>
      </ul>
    </div>
  </div>

    <div class="button-container">
        <%= link_to user_chatrooms_path(@user), method: :post, class:"chat-button" do %>
          <i class="fas fa-comment-medical"></i>
        <% end %>
    </div>

  <div class="button-background" id="book-now">
    <div style="height:40px" class="button">
      <%= link_to "Book now", new_event_booking_path(@event) %>
    </div>
  </div>

</div>
