<%# <h1 class="main">Charity shops</h1>
<p>Find me in app/views/pages/home.html.erb</p> %>

<%# <h1>Welcome to HOIIOH</h1> %>
<div class="mapbox-container">
  <div class="map" id="map-size" style="width: 96%; height: 400px;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>



<div class="app">
  <h3 class="carousel-card">Charity Shops</h3>

  <ul class="hs full no-scrollbar">
    <% @events.first(10).each do |event| %>
    <li class="item"> <%= render partial: 'card', locals: {event: event} %> </li>
    <% end  %>
  </ul>

  <h3 class="carousel-card">Animal Welfare</h3>

    <ul class="hs full no-scrollbar">
    <% @events.first(10).each do |event| %>
    <li class="item"> <%= render partial: 'card', locals: {event: event} %> </li>
    <% end  %>
  </ul>

   <h3 class="carousel-card">Human and Civil Rights</h3>

  <ul class="hs full no-scrollbar">
    <% @events.first(10).each do |event| %>
    <li class="item"> <%= render partial: 'card', locals: {event: event} %> </li>
    <% end  %>
  </ul>


   <h3 class="carousel-card">Sports</h3>

  <ul class="hs full no-scrollbar">
    <% @events.first(10).each do |event| %>
    <li class="item"> <%= render partial: 'card', locals: {event: event} %> </li>
    <% end  %>
  </ul>


   <h3 class="carousel-card">Environment</h3>

  <ul class="hs full no-scrollbar">
    <% @events.first(10).each do |event| %>
    <li class="item"> <%= render partial: 'card', locals: {event: event} %> </li>
    <% end  %>
  </ul>

</div>


<%# <button type="button" class="button">Button</button>
<button type="button" class="button" id="secondary">Button</button> %>
