<% img_url = "https://images.unsplash.com/photo-1513477967668-2aaf11838bd6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8dm9sdW50ZWVyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=1100&q=60" %>

<div class="banner-img">
  <img src=<%= img_url %> alt="holding hands">
</div>

<div class="container">

  <div class="charity-details">
    <div class="title-and-back">
      <h3><%= @charity.charity_name %></h3>
      <%= link_to :back do %>
        <i class="fas fa-arrow-circle-left"></i>
      <% end %>
    </div>
    <h5><i class="fas fa-ribbon icon-pink"></i> <%= @charity.category %></h5>
  </div>

  <div class="about-us">
    <h5>About Us</h5>
    <ul>
      <% description = @charity.description.split(".") %>
      <% description.each do |sentence| %>
        <li><%= sentence %>.</li>
      <% end %>
    </ul>
  </div>

  <%# <div class="charity-events"> %>
    <%# <h5>Upcoming volunteering events</h5> %>
  <%# </div> %>


</div>
