<% img_url = "https://images.unsplash.com/photo-1513477967668-2aaf11838bd6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8dm9sdW50ZWVyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=1100&q=60" %>

<div class="banner-img">
  <img src=<%= img_url %> alt="holding hands">
</div>

<div class="container">

  <div class="charity-details">
    <h3><%= @charity.charity_name %></h3>
    <h5><%= @charity.category %></h5>

    <div class="about-us">
      <h5>About Us</h5>
      <ul>
        <% description = @charity.description.split(".") %>
        <% description.each do |sentence| %>
          <li><%= sentence %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="charity-events">
    <h5>Our Volunteering Opportunties</h5>
    <% @charity.events.all do |event| %>
      <div class="event-card">
        <h5><%= event.event_name %></h5>
        <h5><%= event.date %></h5>
        <h5><%= event.start_time %></h5>
        <h5><%= event.address %></h5>
      </div>
    <% end %>
  </div>


</div>
