<% profile_avatar = 'https://ca.slack-edge.com/T02NE0241-U02GC8TRES1-ad9e707bafc0-192' %>

<div class="dashboard">

  <div id="dashboard-banner", style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1483058712412-4245e9b90334?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);">
    <div id="company-name">
      <h5><%= @employer.company_name %></h5>
    </div>
    <div id="csr">
      <h3>CSR Dashboard <%= Time.now.strftime("%Y") %>  </h3>
    </div>
  </div>

    <div data-controller="swap-tabs" class="container">
      <div class="tabs" >
        <div class="tab">
          <button data-swap-tabs-target="tabcompany" data-action="click->swap-tabs#activateCompany">Total company</button>
        </div>
        <div class="tab">
          <button class="inactive" data-swap-tabs-target="tabemployees" data-action="click->swap-tabs#activateEmployees">Employee view</button>
        </div>
      </div>

      <div data-swap-tabs-target="contentcompany" class="tabcontent">

        <h4 class="dashboard-subheading">Achievements</h4>
        <div class='employer-vol-summary'>
          <div class='employer-summary-card'>
            <h5><%= @employees.count %> employees enrolled</h5>
            <i class="fas fa-user-friends icon-pink"></i>
          </div>
          <div class='employer-summary-card'>
            <h5><%= @bookings.count %> events attended</h5>
            <i class="fas fa-hand-holding-heart icon-pink"></i>
          </div>
          <div class='employer-summary-card'>
            <h5><%= @hours.sum %> hours volunteered</h5>
            <i class="fas fa-hands-helping icon-pink"></i>
          </div>
        </div>

        <h4 class="dashboard-subheading">Goals</h4>
        <div class='employer-vol-summary'>
          <div class='employer-summary-card'>
            <h5><%= @enrol_goal %> employees</h5>
            <i class="fas fa-trophy icon-pink"></i>
            <h5><%= number_to_percentage((@employees.count)/@enrol_goal.to_f*100, precision:0) %> complete</h5>
          </div>
          <div class='employer-summary-card'>
            <h5><%= @events_goal %> events</h5>
            <i class="fas fa-medal icon-pink"></i>
            <h5><%= number_to_percentage((@bookings.count)/@events_goal.to_f*100, precision:0) %> complete</h5>
          </div>
          <div class='employer-summary-card'>
            <h5><%= @hours_goal %> hours</h5>
            <i class="fas fa-award icon-pink"></i>
            <h5><%= number_to_percentage((@hours.sum)/@hours_goal.to_f*100, precision:0) %> complete</h5>
          </div>
        </div>

        <h4 class="dashboard-subheading">Hours volunteered by charity category</h4>
        <div class="company-graph">
          <%= render partial: 'graph' %>
        </div>

      </div>


      <div data-swap-tabs-target="contentemployees" class="d-none">

        <div class="employee-cards tabcontent" >
          <% @employees.each do |employee| %>
            <div class="card-employee">
              <div class="card-employee-name">
                <h5><%= employee.first_name %> <%= employee.last_name %></h5>
              </div>
              <div class="card-employee-infos">
                <% bookings = employee.bookings.select { |booking| booking.event.date < Time.now } %>
                <% hours = bookings.map { |booking| booking.event.duration } %>
                <p><i class="fas fa-calendar-week icon-pink"></i> <%= bookings.count %> events attended</p>
                <p><i class="fas fa-stopwatch icon-pink"></i> <%= hours.sum %> hours volunteered</p>
              </div>
            </div>
          <% end %>
        </div>

      </div>

    </div>

</div>
